@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1b140d;
  color: #f3e9d2;
  font-family: 'MedievalSharp', cursive;
}
.separador-grimorio {
  position: relative;
  margin: 26px 0 22px;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #cfa44a,
    transparent
  );
}

.separador-grimorio::after {
  content: "✦";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f2e2c4;
  padding: 0 10px;
  color: #8b4a1f;
  font-size: 14px;
}
